{:git/url "https://github.com/Clojure-Bioinformatics-Format-Parsers/clj-omex"
 :git/branch "main"
 :source-paths ["src"]
 :output-path "doc"
 :toc {:namespaces [{:title "Core"
                     :namespaces [omex omex.io omex.rdf omex.stats omex.cli]}]}
 :github/repo "Clojure-Bioinformatics-Format-Parsers/clj-omex"}
